@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  //background: linear-gradient(to right, rgba(#52c0ef, 0.5), rgba(26, 213, 255, 0.4));;
  background: white;
  display: flex;
}
